
set -x


# baseurl=https://downloads.whamcloud.com/public/lustre/latest-release/el7/server/

# baseurl=https://downloads.whamcloud.com/public/lustre/latest-release/el7/client/

function install_lustre {

cat > /etc/yum.repos.d/lustre.repo << EOF
[hpddLustreserver]
name=CentOS- - Lustre
baseurl=https://downloads.whamcloud.com/public/lustre/lustre-2.13.0/el7/server/
gpgcheck=0

[e2fsprogs]
name=CentOS- - Ldiskfs
baseurl=https://downloads.whamcloud.com/public/e2fsprogs/latest/el7/
gpgcheck=0

[hpddLustreclient]
name=CentOS- - Lustre
baseurl=https://downloads.whamcloud.com/public/lustre/lustre-2.13.0/el7/client/
gpgcheck=0
EOF

sudo yum install lustre-tests -y
if [ $? -ne 0 ]; then
  echo "yum install of lustre binaries failed"
  exit 1
fi

}


##########
## Start #
##########

# Ansible code has logic to update_resolvconf and lock the file to prevent updates



install_lustre

setenforce 0

echo "options ksocklnd nscheds=10 sock_timeout=100 credits=2560 peer_credits=63 enable_irq_affinity=0"  >  /etc/modprobe.d/ksocklnd.conf

# Update grub boot loader to use OS with lustre kernel changes after reboot.
cat /etc/os-release | grep "^NAME=" | grep "CentOS"
if [ $? -eq 0 ]; then
  grub_config="/boot/efi/EFI/centos/grub.cfg"
else
  # For Oracle Linux
  grub_config="/boot/efi/EFI/redhat/grub.cfg"
fi
#os_with_lustre=`awk -F\' /^menuentry/{print\$2}  $grub_config  | grep -v "Rescue" | grep "lustre.x86_64" | gawk -F"'" ' { print $2 } ' `  ;  echo $os_with_lustre
os_with_lustre=`awk -F\' /^menuentry/{print\$2}  $grub_config  | egrep -v "Rescue|Unbreakable|rescue" | grep "lustre.x86_64" | head -n 1 | gawk -F"'" ' { print $2 } ' `  ;  echo $os_with_lustre

# Add single quotes
os_with_lustre_with_quote="'${os_with_lustre}'"  ;  echo $os_with_lustre_with_quote
#grub2-set-default "${os_with_lustre_with_quote}"
grub2-set-default "$os_with_lustre"



touch /tmp/complete
echo "complete.  rebooting now"
# Reboot happens in Ansible code, since it is capable of waiting for the node to come back and continue with rest of the commands.

##########
## End #
##########
